# MAC/LINUX
# aws ec2 create-key-pair --key-name key_name --query 'KeyMaterial' --output text > key_name.pem
aws_access_key   = ""
aws_secret_key   = ""
ssh_key_name     = "key_name"
private_key_path = "key_name.pem"
webhook_slack    = "https://hooks.slack.com/services/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

